body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

div {
    overflow: hidden;
}

/* Start CSS Navbar */
.navbar-brand {
    margin-top: 10px;
}

.offcanvas {
    margin-top: 0px;
    max-width: 50%;
}

.offcanvas-title {
    padding: 2px;
    font-weight: 600;
}

.offcanvas-body {
    margin-top: none;
    padding: 10px;
    margin-left: 85px;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.btn-registrasi {
    width: 81px;
    height: 36px;
    border: none;
    border-radius: 2px;
    padding: 8px, 12px, 8px, 12px;
    background-color: #5CB85F;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 360px) {
    .offcanvas-body {
        margin-top: none;
        padding: 10px;
        margin-left: 0px;
    }
}

/* End CSS Navbar */

/* Start CSS Header Hero */
#header {
    background-color: #F1F3FF;
    height: 80vh;
    width: 100%;
}

.header {
    margin-top: -130px;
}

.tagline h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top: 250px;
}

.tagline p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 20px;
    width: 82%;
}

.btn-sewa {
    width: 140px;
    height: 36px;
    border: none;
    border-radius: 2px;
    padding: 8px, 12px, 8px, 12px;
    background-color: #5CB85F;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.img-car {
    width: 704px;
    height: 407px;
    margin-top: -270px;
    position: absolute;
}
/* End CSS Header Hero */

/* Start CSS Header Hero For Mobile */
@media (max-width: 360px) { 
    #header {
        background-color: #F1F3FF;
        height: 650px;
        width: 100%;
        margin-bottom: -50px;
    }

    .tagline h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        margin-top: 100px;
    }
    
    .tagline p {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 20px;
        width: 82%;
    }

    .img-car {
        width: 344px;
        height: 199px;
        margin-top: -70px;
        position: absolute;
    }
}
/* End CSS Header Hero For Mobile */

/* Start CSS Our Services */
.img-service {
    width: 459px;
    height: 428px;
    margin-top: 120px;
}

.services h2{
    width: 468px;
    height: 72px; 
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 150px;
}

.services p {
    width: 468px;
    height: 60px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.deskripsi li{
    list-style: none;
    text-align: start;
    margin-left: -20px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 16px;
}

.deskripsi li img{
    list-style: none;
    text-align: start;
    margin-left: -25px;
    padding-left: 10px;
    padding-right: 10px;
}
/* End CSS Our Services */

/* Start CSS Our Services For Mobile */
@media (max-width: 360px) { 
    .img-service{
        width: 252px;
        height: 228px;
        align-items: center;
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .services h2{
        width: 328px;
        height: 72px; 
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 30px;
    }

    .services p {
        max-width: 100%;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 60px;
    }
}
/* End CSS Our Services For Mobile */

/* Start CSS Why Us */
.why {
    margin-top: 80px;
    margin-bottom: 20px;
}

.why h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.why p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.card {
    margin-bottom: 16px;
}

.card-body {
    width: 268px;
    height: 196px;
    padding: 24px;
    border-radius: 8px;
    border: 1px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 13px;
}

.card-text {
    width: 220px;
    height: 60px;    
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 13px;
}
/* End CSS Why Us */

/* Start CSS Why Us For Mobile */
@media (max-width: 360px) {
    .why {
        margin-top: 40px;
    }

    .why h2 {
        text-align: center;
    }
    
    .why p {
        text-align: center;
    }
}
/* End CSS Why Us For Mobile */

/* Start CSS Testimonial */
#testimonial {
    margin-top: 80px;
}

.testimonial-heading h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonial-heading p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.item {
    background-color: #F1F3FF;
    margin-left: none;
    border-radius: 8px;
    height: 270px;
    max-width: 619px;
}

.review {
    width: 415px;
    height: auto;
}

.author-img {
    max-width: 80px;
    height: 80px;
    margin-top: 90px;
    margin-left: 30px;
}

.rate-img {
    height: 16px;
    max-width: 80px;
    margin-top: 40px;
}

.text-review {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    text-align: left;
}

.review .author {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
}
/* End CSS Testimonial */

/* Start CSS Testimonial For Mobile */
@media (max-width: 360px) { 
    #testimonial {
        margin-top: 60px;
    }

    .item {
        background-color: #F1F3FF;
        border-radius: 8px;
        height: 372px;
        max-width: 1000px;
    }
    
    .review {
        width: 415px;
        height: auto;
    }
    
    .author-img {
        max-width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-left: 100px;
    }
    
    .rate-img {
        height: 16px;
        max-width: 80px;
        margin-top: 20px;
        margin-left: 100px;
    }
    
    .text-review {
        font-size: 14px;
        text-align: left;
        width: 264px;
        height: 148px;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    .review .author {
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        margin-left: 20px;
    }
}
/* End CSS Testimonial For Mobile */

/* Start CSS Sewa Mobil Sekarang */
#sewa {
    margin-top: 80px;
}

.sewa {
    background-color: #0D28A6;
    height: auto;
    border-radius: 13px;
    text-align: center;
    padding: 70px;
    color: #fff;
}

.sewa h1{
    font-size: 36px;
    font-weight: 700;
}

.sewa p{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 30px;
}
/* End CSS Sewa Mobil Sekarang */

/* Start CSS Sewa Mobil Sekarang For Mobile */
@media (max-width: 360px) { 
    .sewa h1{
        font-size: 24px;
        font-weight: 700;
    }
}
/* End CSS Sewa Mobil Sekarang For Mobile */

/* Start CSS FAQ */
#faq {
    margin-top: 70px;
}

.faq h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.faq p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 20px;
}

.accordion{
    margin-bottom: 20px;
}

.accordion-header {
    border: 1px solid #D4D4D4;
}

.accordion-button {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
/* End CSS FAQ*/

/* Start CSS FAQ For Mobile */
@media (max-width: 360px) { 
    .faq h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .faq p {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
    }
}   
/* End CSS FAQ For Mobile */

/* Start CSS Footer*/
footer {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.address {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.navigation a {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}

.sosmed {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sosmed img{
    margin-right: 10px;
}

.copyright {
    font-size: 14px;
    font-weight: 300;
}
/* End CSS Footer*/